@charset "gb2312";
/* CSS Document */

/*分页*/
.pagelistFace{ text-align: right}
.pagelistFace ul{padding:20px;}
.pagelistFace ul li{ display: inline; margin: 0 2px;}
.pagelistFace ul li a{border:1px solid #dcdcdc; border-radius:4px; display:inlin-block; text-align: center; padding:5px 10px; background:#fff;}
.pagelistFace ul li a.thisclass{color:#fff; background:#0a859d;}

/*前台分页*/
.fenye{margin-bottom: 30px;float: right;margin-right: 250px;}
.fenye a{float: left;width: 28px;height: 28px;border:1px solid #ccc;text-align: center;line-height: 28px;margin-right: 10px;}
.fenye a:hover{color:#e3221a;border-color: #e3221a;}
.fenye .li{color:#e3221a;border-color: #e3221a;}
.fenye .noborder{float: left;line-height: 28px;border: 1px solid #ccc;padding: 0 10px;margin-right: 10px;}